# setuptools creates folders during package creation
build
dist
*.egg-info
old
audio_data

# Python virtual environment
venv

# Python files
__pycache__
.mypy_cache

# Emacs recovery files
*~
\#*\#

# PyCharm files
.idea
